* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hero {
    background-color: #D2E6E4;
}

.container {
    max-width: 1440px;
    margin: 0px auto;
    padding: 20px 0;
}

.hero__inner {
    margin: 0 125px;
}

.hero__img {
    width: 20%;
}

.courses__inner {
    margin: 0 125px;
}

.schedule__inner {
    margin: 0 125px;
}

.card__inner {
    margin: 0 125px;
}

.training__inner {
    margin: 0 125px;
}

.gift-cards__inner {
    margin: 0 125px;
}

.bundles__inner {
    margin: 0 125px;
}